{% extends 'homepage/base.html' %}
{% block content %}

<h2 align="center" style="background-color:LightBlue;"><font color="	#191970">Welcome to Weahter Informer</font></h2><br><br>
<hr><br>
<br>
<h5><p>Hello Users</p>
    <p>We are glad to have you on our precious Weather informing Site.</p>
    <p>Here you will get all sort of information about current weather.</p>
    <p>If you dont have your own account on our website yet then please go to Sign up page and create your account to use our precious services.</p>
    <br>
    <p id="special">Thank you for visiting our website</p></h5>
<br>
<br>
<hr>
<br>

<center> <h6 class="text-muted">
                <a class="ml-2" href="{% url 'home' %}">www.weather-informer.com</a>
     <br>
                @MayurBagul
 </h6>
</center>



{% endblock content %}