{% extends 'homepage/base.html' %}

{% block content %}


{% for i in data %}
<div class="card-deck">
    <div class="card">
        <img src="/media/temp.png" class="card-img-top" alt="Temp">
        <div class="card-body">
            <h5 class="card-title text-center">Temperature</h5>
            <h6 class="card-text text-center">{{ i.temp }}</h6>
        </div>
    </div>
    <div class="card">
        <img src="/media/humidity.png" class="card-img-top" alt="humidity">
        <div class="card-body">
            <h5 class="card-title text-center">Humidity</h5>
            <h6 class="card-text text-center">{{ i.humidity }}</h6>
        </div>
    </div>
    <div class="card">
        <img src="/media/water.png" class="card-img-top" alt="water">
        <div class="card-body">
             <h5 class="card-title text-center">Water</h5>
            <h6 class="card-text text-center">{{ i.water }}</h6>
        </div>
    </div>
</div>

{% endfor %}

<br>

<div class="alert alert-primary" role="alert">
  Enter City To Know Temperature, Humidity and Water Level !
</div>

<form action="{% url 'weather' %}" method="POST">
    {% csrf_token %}
    {{ form }}
   <button type="submit" class="btn btn-primary mb-2">Chceck Weather</button>
</form>





{{data.water}}


{% endblock content %}