
    p{
      color:black;
      text-align: center;
      font-size: 25px;
      }

    #special{
             color:red;
             text-align:center;

              }

        left{
                text-align: left;
                }
